/* Definir variables de color */
:root {
    --color-oscuro-marron: #54543a;   /* Gris oscuro/marrón */
    --color-oliva-claro: #777751;     /* Marrón oliva claro */
    --color-gris-calido: #a49a8e;     /* Gris cálido */
    --color-beige-claro: #c9bfb3;     /* Beige claro */
    --color-verde-pastel: #f6f9e8;    /* Verde claro pastel */
    --color-blanco: #ffffff;          /* Blanco */
    --color-gris: #333333;            /* Gris para texto */
}

/* Reset de márgenes y padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Establecer las fuentes globalmente */
body {
    font-family: 'Montserrat', sans-serif; /* Montserrat Light por defecto */
    background-color: var(--color-verde-pastel); /* Fondo claro con verde pastel */
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif; /* Playfair Display para los títulos */
    color: var(--color-oscuro-marron); /* Gris oscuro/marrón para los títulos */
}

/* Estilos de la imagen */
img {
    border: 5px solid var(--color-blanco); /* Borde blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos del cronograma */
ul.list-unstyled {
    list-style-type: none;
}

ul.list-unstyled li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-oliva-claro); /* Marrón oliva claro para los ítems */
}

/* Estilos de la tarjeta */
.card {
    border: none;
    background-color: var(--color-beige-claro);
}

/* Estilos del contador */
#contador {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-oliva-claro); /* Marrón oliva claro para el contador */
}

/* Estilo de los banners */
section {
    padding: 60px 0;
}

.banner-presentacion {
    background-color: var(--color-c9bfb3); /* Beige claro para el banner */
}

/* Responsividad */
@media (max-width: 576px) {
    #animacion {
        font-size: 1.5rem;
    }
    #contador {
        font-size: 1.5rem;
    }
}

/* Estilo para las referencias bancarias */
.referencias {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.referencia {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    border: 2px solid var(--color-gris-calido); /* Gris cálido para los bordes */
}

.referencia h4 {
    color: var(--color-oscuro-marron); /* Gris oscuro/marrón para los títulos de referencia */
    font-weight: bold;
}

.referencia p {
    font-size: 1.2rem;
    color: var(--color-gris); /* Gris oscuro para el texto */
}

/* Estilo para la cuenta regresiva */
#contador {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-oliva-claro); /* Marrón oliva claro para el contador */
}

.contador-item {
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 20px;
}

.contador-item .h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-oliva-claro); /* Marrón oliva claro para el contador */
}

.contador-item .h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-oscuro-marron); /* Gris oscuro/marrón para los títulos */
}

/* Explicación debajo */
.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-oscuro-marron); /* Gris oscuro/marrón para el texto explicativo */
    margin-top: 20px;
}

/* Estilo para el banner de presentación con fondo fijo */
.banner-presentacion {
    background-image: url('imagenes/nubes.png'); /* Aquí pones la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fondo fijo que no se mueve con el scroll */
    color: #000000; /* Color de texto blanco para que se vea bien sobre el fondo */
}

/* Estilo del texto dentro del banner */
.banner-presentacion h1, 
.banner-presentacion h2, 
.banner-presentacion h3 {
    font-family: 'Montserrat', sans-serif;
    color: #506647; /* Blanco para que resalte sobre el fondo */
}

/* Animación del texto */
#animacion {
    opacity: 0;
    display: inline-block;
    animation: aparecer 5s ease-in-out forwards;
}

@keyframes aparecer {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

/* Añadir algo de padding y márgenes para el texto */
.banner-presentacion .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-presentacion h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.banner-presentacion h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.banner-presentacion h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.agradecimientos {
    background-image: url('imagenes/mapamundi.png');  /* Cambia esta URL a la ruta de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* Estilos personalizados para las tarjetas */
.custom-card {
    background-color: transparent; /* Fondo transparente */
    border: 2px dotted var(--color-gris); /* Línea punteada negra */
    border-radius: 8px; /* Bordes redondeados */
}

/* Si deseas que el borde punteado cambie al pasar el cursor */
.custom-card:hover {
    border-color: var(--color-oscuro-marron);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil al pasar el cursor */
}

/* Estilos de la línea de tiempo */
.timeline {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--color-gris-calido); /* Gris cálido para la línea central */
}

/* Estilos de los elementos de la línea de tiempo */
.timeline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    padding-left: 50px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

/* Alineación de los íconos y contenido en dispositivos móviles */
.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-item .timeline-icon {
    position: absolute;
    left: -30px;
    top:20%;
    transform: translateY(-50%);
    background-color: var(--color-azul); /* Azul para los íconos */
    color: var(--color-gris); /* Blanco para los íconos */
    border-radius: 50%;
    padding: 12px;
    font-size: 26px;
}

/* Estilos de los contenidos de los items */
.timeline-item .timeline-content {
    background-color: var(--color-beige-claro); /* Beige claro para el fondo de los items */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 10px; /* Espacio entre íconos y contenido */
}

/* Cambiar colores y fondo en items impares */
.timeline-item:nth-child(odd) .timeline-content {
    background-color: var(--color-blanco); /* Blanco para los items impares */
}

/* Títulos y textos */
.timeline-item h5 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: var(--color-oscuro-marron); /* Gris oscuro/marrón para los títulos */
}

.timeline-item p {
    font-size: 1rem;
    color: var(--color-gris); /* Gris oscuro para el texto */
}

/* Estilo responsivo para dispositivos móviles */
@media (max-width: 768px) {
    /* Asegura que los íconos estén más pequeños y centrados */
    .timeline-item .timeline-icon {
        font-size: 22px; /* Reducir el tamaño del ícono */
        left: 8%; /* Centrado del ícono */
        transform: translateX(-50%); /* Asegura el centrado horizontal */
        margin-bottom: 12px; /* Espacio adicional en pantallas pequeñas */
    }

    /* Alineación del contenido en dispositivos móviles */
    .timeline-item .timeline-content {
        width: 90%; /* El contenido ocupa casi todo el ancho disponible */
        margin-left: 0; /* Eliminar margen */
    }

    /* Asegurar que los elementos no se solapen */
    .timeline-item {
        flex-direction: column; /* Los íconos y contenidos se apilan verticalmente */
        align-items: center; /* Centrar los elementos */
    }
}
